<div style="margin-left: 25%;">
    <div class="row">
        <div class="col s8">
            <div class="card" align="center">
                <div class="card-content">
                    <div class="row">
                        <div align="right">
                            <a class="btn waves-effect waves-light" href="#/login"><i class="material-icons right">person_add</i></a>
                        </div>
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="nome" type="text" class="validate" name="nome" ng-model="login.login">
                                    <label for="nome">Nome</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="nomeResponsavel" type="text" class="validate" name="nomeResponsavel"
                                        ng-model="login.login">
                                    <label for="nomeResponsavel">Nome do responsavel</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="login" type="text" class="validate" name="login" ng-model="login.login">
                                    <label for="login">Login</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="senha" type="password" class="validate" name="senha" ng-model="login.senha">
                                    <label for="senha">Senha</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="rua" type="text" class="validate" name="rua" ng-model="login.login">
                                    <label for="rua">Rua:</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="bairro" type="text" class="validate" name="bairro" ng-model="login.login">
                                    <label for="bairro">Bairro</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="cidade" type="text" class="validate" name="cidade" ng-model="login.login">
                                    <label for="cidade">Cidade</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="telefone" type="text" class="validate" name="telefone" ng-model="login.login">
                                    <label for="telefone">Telefone</label>
                                </div>
                            </div>
                            <select class="browser-default">
                                <option value="" disabled selected>Fonoaudiólogo:</option>
                                <option value="1">Fonoaudiólogo </option>
                            </select>
                            <br />
                        </form>
                        <div align="center">
                            <a class="btn waves-effect waves-light" href="#/login">Salvar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>