<nav style="background-color: #03a9f4">
	<div class="nav-wrapper">
		<a href="#/inicioPaciente" class="brand-logo">Game</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><a href="#/inicioPaciente">Jogos</a></li>
			<li><a href="#/dadosPaciente">Meus Dados</a></li>
			<li><a href="#/partidasPaciente">Minhas Partidas</a></li>
			<li><a href="../index.html">Sair</a></li>
		</ul>
	</div>
</nav>
<div class="col s12 m7" ng-repeat = "jogo in jogos">
	<div class="card horizontal">
		<div class="card-image">
			<img ng-src="{{jogo.foto}}">
		</div>
		<div class="card-stacked">
			<div class="card-content">
				<span><b>{{jogo.nome}}</b></span>
				<p>{{jogo.descricao}}</p>
			</div>
			<div class="card-action">
				<a href="#/jogo1/{{jogo.id}}">Jogar!</a>
			</div>
		</div>
	</div>
</div>