<nav style="background-color: #03a9f4">
    <div class="nav-wrapper">
        <a href="#/inicioPaciente" class="brand-logo"><img src="../../img/icone.png" width="50px" height="50px"
                style="margin-left: 30px; margin-top: 5px" /></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#/inicioPaciente"><b>Jogos</b></a></li>
            <li><a href="#/dadosPaciente"><b>Meus Dados</b></a></li>
            <li><a href="#/partidasPaciente"><b>Minhas Partidas</b></a></li>
            <li><a href="#/login"><b>Sair</b></a></li>
        </ul>
    </div>
</nav>
<div>
    <div class="row">
        <div class="col s12">
            <div class="card" align="center">
                <div class="card-content">
                    <div class="row">
                        <h3>{{jogo.nome}}</h3>
                        <br />
                        <h5>{{jogo.descricao}}</h5>
                        <br /><br />
                        <p>Como jogar:</p>
                        <p>{{jogo.instrucao}}</p>
                        <br /><br />
                        <div align="center" ng-show="jogo.id == 1">
                            <a class="waves-effect waves-light btn-large" href="../../quizPalavras.html"><i
                                    class="material-icons right">play_arrow</i>
                                Jogar </a>
                        </div>
                        <div align="center" ng-show="jogo.id == 2">
                            <a class="waves-effect waves-light btn-large" href="../../buscaLetras.html"><i
                                    class="material-icons right">play_arrow</i>
                                Jogar </a>
                        </div>
                        <br /><br />
                        <img ng-src="{{jogo.foto}}"></img>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>