<nav style="background-color: #03a9f4">
	<div class="nav-wrapper">
		<a href="#/inicioPaciente" class="brand-logo">Game</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><a href="#/inicioPaciente">Jogos</a></li>
			<li><a href="#/dadosPaciente">Meus Dados</a></li>
			<li><a href="#/partidasPaciente">Minhas Partidas</a></li>
			<li><a href="../index.html">Sair</a></li>
		</ul>
	</div>
</nav>
<div class="row">
	<div class="col s12 m12">
		<div class="card white darken-1">
			<p align="center" ng-if="paciente.partidas.length == 0">SEM PARTIDAS CADASTRADAS</p>
			<table class="centered" ng-if="paciente.partidas.length > 0">
				<thead>
					<tr>
						<th>Jogo</th>
						<th>Nivel</th>
						<th>Tempo de jogo</th>
						<th>Qnt. acertos</th>
						<th>Qnt. erros</th>
						<th>Ação</th>
					</tr>
				</thead>

				<tbody ng-repeat="partida in paciente.partidas">
					<tr>
						<td>{{partida.jogo.nome}}</td>
						<td>{{partida.nivel}}</td>
						<td>{{partida.tempo}}</td>
						<td>{{partida.relatorio.acertos.length}}</td>
						<td>{{partida.relatorio.erros.length}}</td>
						<td><a class="waves-effect waves-light btn" href="#/relatorioPartida/{{partida.id}}">Ver relatorio</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>