<div style="margin-left: 25%;">
    <div class="row">
        <div class="col s8">
            <div class="card" align="center">
                <div class="card-content">
                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="nome" type="text" class="validate" name="nome" ng-model="fono.nome" placeholder="Nome">
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="codigo" type="text" class="validate" name="codigo" ng-model="fono.codigo" placeholder="CRFa">
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="login" type="text" class="validate" name="login" ng-model="fono.login" placeholder="Login">
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="senha" type="password" class="validate" name="senha" ng-model="fono.senha" placeholder="Senha">
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="rua" type="text" class="validate" name="rua" ng-model="fono.endereco.rua" placeholder="Rua">
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="bairro" type="text" class="validate" name="bairro" ng-model="fono.endereco.bairro" placeholder="Bairro">
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="cidade" type="text" class="validate" name="cidade" ng-model="fono.endereco.cidade" placeholder="Cidade">
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="telefone" type="text" class="validate" ng-model="fono.telefone"onkeyup="mascara( this, mtel );" maxlength="15" placeholder="Telefone">
                                </div>
                            </div>
                            <br />
                        </form>
                        <div align="center">
                            <a class="btn waves-effect waves-light" ng-click="atualizarFono(fono)">Salvar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>