<nav style="background-color: #03a9f4">
    <div class="nav-wrapper">
        <a href="#/inicioFono" class="brand-logo"><img src="../../img/icone.png" width="50px" height="50px" style="margin-left: 30px; margin-top: 5px"/></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#/pacientesFono"><b>Meus Pacientes</b></a></li>
			<li><a href="#/dadosFono"><b>Dados</b></a></li>
			<li><a href="#/cadastroFono"><b>Cadastar Fono</b></a></li>
            <li><a href="#/login"><b>Sair</b></a></li>
        </ul>
    </div>
</nav>

<div style="margin-left: 15%;">
	<div class="row">
		<div class="col s10">
			<br />
			<div align="right">
				<a class="waves-effect waves-light btn-small" href="#/atualizarFono"><i class="material-icons right">edit</i>Atualizar
					dados</a>
				<a class="waves-effect waves-light btn-small" ng-click = "removerFono()"><i class="material-icons right">delete</i>Excluir
					conta</a>
			</div>
			<br />
			<div class="card white darken-1">
				<ul class="collection">
					<li class="collection-item avatar">
						<i class="material-icons circle">account_circle</i>
						<span class="title">NOME</span>
						<p>{{fono.nome}}</p>
					</li>
					<li class="collection-item avatar">
						<i class="material-icons circle">filter_9_plus</i>
						<span class="title">CRFa</span>
						<p>{{fono.codigo}}</p>
					</li>
					<li class="collection-item avatar">
						<i class="material-icons circle green">local_phone</i>
						<span class="title">TELEFONE</span>
						<p>{{fono.telefone}}</p>
					</li>
					<li class="collection-item avatar">
						<i class="material-icons circle red">web</i>
						<span class="title">LOGIN</span>
						<p>{{fono.login}}</p>
					</li>
					<li class="collection-item avatar">
						<i class="material-icons circle red">location_city</i>
						<span class="title">CIDADE</span>
						<p>{{fono.endereco.cidade}}</p>
					</li>
					<li class="collection-item avatar">
						<i class="material-icons circle red">directions</i>
						<span class="title">BAIRRO</span>
						<p>{{fono.endereco.bairro}}</p>
					</li>
					<li class="collection-item avatar">
						<i class="material-icons circle red">location_on</i>
						<span class="title">RUA</span>
						<p>{{fono.endereco.rua}}</p>
					</li>
					<li class="collection-item avatar">
						<i class="material-icons circle red">filter_9_plus</i>
						<span class="title">NÚMERO DE PACIENTES</span>
						<p>{{fono.pacientes.length}}</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>