<nav style="background-color: #03a9f4">
	<div class="nav-wrapper">
		<a href="#/inicioFono" class="brand-logo">Game</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><a href="#/cadastroPacientes">Cadatrar Pacientes</a></li>
			<li><a href="#/pacientesFono">Meus Pacientes</a></li>
			<li><a href="#/dadosFono">Meus Dados</a></li>
			<li><a href="#/login">Sair</a></li>
		</ul>
	</div>
</nav>

<div style="margin-left: 15%;">
	<div class="row">
		<div class="col s10">
			<br />
			<div align="right">
				<a class="waves-effect waves-light btn-small" href="#/atualizarFono"><i class="material-icons right">edit</i>Atualizar
					dados</a>
				<a class="waves-effect waves-light btn-small" ng-click = "removerFono()"><i class="material-icons right">delete</i>Excluir
					conta</a>
			</div>
			<br />
			<div class="card white darken-1">
				<ul class="collection">
					<li class="collection-item avatar">
						<i class="material-icons circle">account_circle</i>
						<span class="title">Nome</span>
						<p>{{fono.nome}}</p>
					</li>
					<li class="collection-item avatar">
						<i class="material-icons circle">filter_9_plus</i>
						<span class="title">Codigo</span>
						<p>{{fono.codigo}}</p>
					</li>
					<li class="collection-item avatar">
						<i class="material-icons circle green">local_phone</i>
						<span class="title">Telefone</span>
						<p>{{fono.telefone}}</p>
					</li>
					<li class="collection-item avatar">
						<i class="material-icons circle red">web</i>
						<span class="title">Login</span>
						<p>{{fono.login}}</p>
					</li>
					<li class="collection-item avatar">
						<i class="material-icons circle red">location_city</i>
						<span class="title">Cidade</span>
						<p>{{fono.endereco.cidade}}</p>
					</li>
					<li class="collection-item avatar">
						<i class="material-icons circle red">directions</i>
						<span class="title">Bairro</span>
						<p>{{fono.endereco.bairro}}</p>
					</li>
					<li class="collection-item avatar">
						<i class="material-icons circle red">location_on</i>
						<span class="title">Rua</span>
						<p>{{fono.endereco.rua}}</p>
					</li>
					<li class="collection-item avatar">
						<i class="material-icons circle red">filter_9_plus</i>
						<span class="title">Numero de pacientes</span>
						<p>{{fono.pacientes.length}}</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>