<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>Games Dislalia</title>
	<meta charset="utf-8">
	<script src="../js/jquery.min.js"></script> 
	<link rel="stylesheet" type="text/css" href="../css/materialize.min.css"> 
	<script> 
		$(function(){
			$("#includedContent").load("menuFono.html"); 
		});
	</script>
</head>
<body background="../img/fundo.png">
	<div id="includedContent"></div>
	<div class="row">
		<div class="col s12 m12">
			<div class="card white darken-1">
				<div class="card-content black-text">
					<div align="center">
						<span class="card-title" ><b>Seja bem vindo, Fono</b></span>
					</div>
					<p>

						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut sem commodo, tincidunt sapien sit amet, interdum lacus. In hac habitasse platea dictumst. In hac habitasse platea dictumst. Suspendisse quis fermentum neque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis rhoncus aliquam lectus, in mattis urna. Nam dui erat, suscipit et pretium ut, dictum vitae urna. Ut pellentesque sagittis nulla lobortis sollicitudin. Pellentesque diam lectus, dignissim et interdum lobortis, semper vitae odio. Nam tortor ante, malesuada vitae iaculis id, imperdiet sed libero.

					Proin facilisis id nulla sit amet blandit. Ut malesuada in purus eu lacinia. Integer congue justo ac sapien placerat, at tempor ligula ultrices. Nulla eget augue tempor, mollis sem eu, pellentesque lectus. Nullam quis dignissim erat. Morbi elementum non lectus ac mollis. Phasellus porttitor dolor finibus elit malesuada accumsan eget eu est. Nunc pharetra sodales orci, in dictum ipsum faucibus fermentum. Phasellus id pellentesque velit, quis venenatis tellus. In hac habitasse platea dictumst. Cras hendrerit placerat lectus, eget dignissim orci molestie non. Morbi elementum malesuada mauris, in faucibus metus consequat in. </p>
				</div>
			</div>
		</div>
		<div class="col s12 m6">
			<div class="card white darken-1">
				<div class="card-content black-text">
					<div align="center">
						<span class="card-title"><b>Informações sobre seus pacientes</b></span>
					</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut sem commodo, tincidunt sapien sit amet, interdum lacus. In hac habitasse platea dictumst. In hac habitasse platea dictumst. Suspendisse quis fermentum neque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis rhoncus aliquam lectus, in mattis urna. Nam dui erat, suscipit et pretium ut, dictum vitae urna. Ut pellentesque sagittis nulla lobortis sollicitudin. Pellentesque diam lectus, dignissim et interdum lobortis, semper vitae odio. Nam tortor ante, malesuada vitae iaculis id, imperdiet sed libero.</p>
				</div>
			</div>
		</div>
		<div class="col s12 m6">
			<div class="card white darken-1">
				<div class="card-content black-text">
					<div align="center">
						<span class="card-title"><b>Resultados dos jogos</b></span>
					</div>
					<p>Proin facilisis id nulla sit amet blandit. Ut malesuada in purus eu lacinia. Integer congue justo ac sapien placerat, at tempor ligula ultrices. Nulla eget augue tempor, mollis sem eu, pellentesque lectus. Nullam quis dignissim erat. Morbi elementum non lectus ac mollis. Phasellus porttitor dolor finibus elit malesuada accumsan eget eu est. Nunc pharetra sodales orci, in dictum ipsum faucibus fermentum. Phasellus id pellentesque velit, quis venenatis tellus. In hac habitasse platea dictumst. Cras hendrerit placerat lectus, eget dignissim orci molestie non. Morbi elementum malesuada mauris, in faucibus metus consequat in.</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>