<nav style="background-color: #03a9f4">
	<div class="nav-wrapper">
		<a href="#/inicioFono" class="brand-logo"><img src="../../img/icone.png" width="50px" height="50px" style="margin-left: 30px; margin-top: 5px"/></a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><a href="#/pacientesFono"><b>Meus Pacientes</b></a></li>
			<li><a href="#/dadosFono"><b>Dados</b></a></li>
			<li><a href="#/login"><b>Sair</b></a></li>
		</ul>
	</div>
</nav>
<div id="includedContent"></div>
<div class="row">
	<div class="col s12 m12">
		<div class="card white darken-1">
			<div class="card-content black-text">
				<div align="center">
					<span class="card-title"><b>Seja bem vindo, {{fono.nome}}</b></span>
				</div>
				<div align="center">
					<p>
						SysDislalia é sistema web com jogos em 2D, para auxiliar o
						fonoaudiólogo no tratamento de crianças com dislalia.
					</p>
					<p>
						O módulo do fonoaudiólogo, possibilita ao profissional fonoaudiólogo gerenciar sua conta e a dos
						seus pacientes, gerenciar as palavras dos seus pacientes por nível e gerar relatório com
						erros e acertos dos jogos.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="col s12 m6">
		<div class="card white darken-1">
			<div class="card-content black-text">
				<div align="center">
					<span class="card-title"><b>Informações sobre seus pacientes</b></span>
				</div>
				<p>
					Vejas as informações dos seus pacientes, cadastre palvras e acompanhe seu desempenho no jogos.
				</p>
				<br />
				<div align="center">
					<i class="material-icons circle red">filter_9_plus</i>
					<span class="title">NÚMERO DE PACIENTES: {{fono.pacientes.length}}</span>
				</div>
				<br />
				<div align="center">
					<a class="waves-effect waves-light btn-small" href="#/pacientesFono">Ver pacientes </a>
				</div>
			</div>
		</div>
	</div>
	<div class="col s12 m6">
		<div class="card white darken-1">
			<div class="card-content black-text">
				<div align="center">
					<span class="card-title"><b>Jogos disponiveís para os pacientes</b></span>
				</div>
				<br />
				<div align="center">
					<i class="material-icons circle red">games</i>
					<span class="title">NÚMERO DE JOGOS: 2</span>
				</div>
				<div align="center">
					<h6>Quiz Palavras</h6>
					<h6>Busca Letrinhas</h6>
					<h6 style="color: red">MAIS JOGOS EM BREVE</h6>
				</div>
			</div>
		</div>
	</div>
</div>