<nav style="background-color: #03a9f4">
    <div class="nav-wrapper">
        <a href="#/inicioFono" class="brand-logo"><img src="../../img/icone.png" width="50px" height="50px" style="margin-left: 30px; margin-top: 5px"/></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#/pacientesFono"><b>Meus Pacientes</b></a></li>
            <li><a href="#/dadosFono"><b>Dados</b></a></li>
            <li><a href="#/login"><b>Sair</b></a></li>
        </ul>
    </div>
</nav>
<div class="row">
	<div class="col s12 m12">
		<br />
		<div align="right">
			<a class="waves-effect waves-light btn-small" href="#/cadastroPacientes"><i class="material-icons right">edit</i>Adicionar
				pacientes</a>
		</div>
		<div class="card white darken-1">
			<div ng-show="fono.pacientes.length > 0">
				<input type="text" placeholder="Buscar paciente" ng-model="criterioDeBusca">
			</div>
			<p align="center" ng-if="fono.pacientes.length == 0">SEM PACIENTES CADASTRADOS</p>
			<table class="centered" ng-if="fono.pacientes.length > 0">
				<thead>
					<tr>
						<th>NOME</th>
						<th>NOME DO RESPONSÁVEL</th>
						<th>IDADE</th>
						<th>TELEFONE</th>
						<th>VER DADOS</th>
						<th>VER PARTIDAS</th>
						<th>VER PALAVRAS</th>
					</tr>
				</thead>

				<tbody ng-repeat="paciente in fono.pacientes | filter: criterioDeBusca | orderBy:'$index':true">
					<tr>
						<td>{{paciente.nome | uppercase}}</td>
						<td>{{paciente.nomeResponsavel | uppercase}}</td>
						<td>{{paciente.idade | uppercase}}</td>
						<td>{{paciente.telefone | uppercase}}</td>
						<td><a class="waves-effect waves-light btn" href="#/dadosPacienteFono/{{paciente.id}}">Ver dados</a></td>
						<td><a class="waves-effect waves-light btn" href="#/pacientePartida/{{paciente.id}}">Ver partidas</a></td>
						<td><a class="waves-effect waves-light btn" href="#/palavraPartida/{{paciente.id}}">Ver palavras</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>