<nav style="background-color: #03a9f4">
	<div class="nav-wrapper">
		<a href="#/inicioFono" class="brand-logo">Game</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><a href="#/pacientesFono">Meus Pacientes</a></li>
			<li><a href="#/dadosFono">Meus Dados</a></li>
			<li><a href="#/login">Sair</a></li>
		</ul>
	</div>
</nav>
<div class="row">
	<div class="col s12 m12">
		<br />
		<div align="right">
			<a class="waves-effect waves-light btn-small" href="#/cadastroPacientes"><i class="material-icons right">edit</i>Adicionar
				pacientes</a>
		</div>
		<div class="card white darken-1">
			<div ng-show="fono.pacientes.length > 0">
				<input type="text" placeholder="Buscar paciente" ng-model="criterioDeBusca">
			</div>
			<p align="center" ng-if="fono.pacientes.length == 0">SEM PACIENTES CADASTRADOS</p>
			<table class="centered" ng-if="fono.pacientes.length > 0">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Nome do responsavel</th>
						<th>Idade</th>
						<th>Telefone</th>
						<th>Rua</th>
						<th>Bairro</th>
						<th>Cidade</th>
						<th>Ver Partidas</th>
						<th>Ver Palavras</th>
					</tr>
				</thead>

				<tbody ng-repeat="paciente in fono.pacientes | filter: criterioDeBusca">
					<tr>
						<td>{{paciente.nome}}</td>
						<td>{{paciente.nomeResponsavel}}</td>
						<td>{{paciente.idade}}</td>
						<td>{{paciente.telefone}}</td>
						<td>{{paciente.endereco.rua}}</td>
						<td>{{paciente.endereco.bairro}}</td>
						<td>{{paciente.endereco.cidade}}</td>
						<td><a class="waves-effect waves-light btn" href="#/pacientePartida/{{paciente.id}}">Ver partidas</a></td>
						<td><a class="waves-effect waves-light btn" href="#/palavraPartida/{{paciente.id}}">Ver palavras</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>