<nav style="background-color: #03a9f4">
	<div class="nav-wrapper">
		<a href="#/inicioFono" class="brand-logo">Game</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><a href="#/pacientesFono">Meus Pacientes</a></li>
			<li><a href="#/dadosFono">Meus Dados</a></li>
			<li><a href="#/login">Sair</a></li>
		</ul>
	</div>
</nav>
<div class="row">
	<div class="col s12 m12">
		<br />
		<div align="right">
			<a class="waves-effect waves-light btn-small" href="#/cadastroPalavra/{{idPaciente}}"><i class="material-icons right">edit</i>Adicionar
				palavras</a>
		</div>
		<br />
		<div class="card white darken-1">
			<p align="center" ng-if="palavras.length == 0">SEM PALAVRAS CADASTRADAS</p>
			<div ng-show="palavras.length > 0">
				<input type="text" placeholder="Buscar por palavra ou nivel" ng-model="criterioDeBusca">
			</div>
			<table class="centered" ng-if="palavras.length > 0">
				<thead>
					<tr>
						<th>Palavra</th>
						<th>Nivel</th>
					</tr>
				</thead>
				<tbody ng-repeat="palavra in palavras | filter: criterioDeBusca">
					<tr>
						<td>{{palavra.palavra}}</td>
						<td>{{palavra.nivel}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>