<nav style="background-color: #03a9f4">
    <div class="nav-wrapper">
        <a href="#/inicioPaciente" class="brand-logo">Game</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#/inicioPaciente">Jogos</a></li>
            <li><a href="#/dadosPaciente">Meus Dados</a></li>
            <li><a href="#/partidasPaciente">Minhas Partidas</a></li>
            <li><a href="../index.html">Sair</a></li>
        </ul>
    </div>
</nav>
<div>
    <div class="row">
        <div class="col s12">
            <div class="card" align="center">
                <div class="card-content">
                    <div class="row">
                        <h3>{{jogo.nome}}</h3>
                        <br />
                        <h5>{{jogo.descricao}}</h5>
                        <br /><br />
                        <p>Como jogar:</p>
                        <p>{{jogo.instrucao}}</p>
                        <br /><br />
                        <div align="center">
                            <a class="waves-effect waves-light btn-small" href="https://drive.google.com/open?id=1P41iBhKaS5fzcL3MSuVBmuQhMdqgsGQ6"><i class="material-icons right">file_download</i>
                                Baixar APK </a>
                        </div>
                        <br /><br /><br /><br /><br />
                        <p>JOGO AQUI</p>
                        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>