<div style="margin-left: 30%; margin-top: 10%">
	<div class="row">
		<div class="col s6">
			<div class="card" align="center">
				<div class="card-content">
					<div class="row">
						<div align="right">
							<a class="btn waves-effect waves-light" href="#/cadastroFono"><i class="material-icons right">person_add</i></a>
						</div>
						<form class="col s12">
							<div class="row">
								<div class="input-field col s12">
									<input id="login" type="text" class="validate" name="login" ng-model="login.login">
									<label for="login">Login</label>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s12">
									<input id="senha" type="password" class="validate" name="senha" ng-model="login.senha">
									<label for="senha">Senha</label>
								</div>
							</div>
							<select class="browser-default" ng-model = "login.usuario">
								<option value="" disabled selected>Tipo de usuario:</option>
								<option value="fono">Fonoaudiólogo </option>
								<option value="paciente">Paciente</option>
							</select>
							<br />
						</form>
						<div align="center">
							<a class="btn waves-effect waves-light" ng-click="login(login)">Entrar</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>